table{
	margin-top: 50px;
	text-align: center;
	background: #f8ccec;
	color: rgb(12, 10, 10);
    border-radius: 19px;
	border-spacing: 5px;
}

#show th, #show td{
	padding: 5px;
}

#btna td input{
	width: 100%;

}
h1{
    text-align: center;
}